{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decoding task
{% endblock %}

{% block content %}
    <div class="alert alert-danger " role="alert">
        <strong>Correct answer (FOR DEBUG ONLY):::</strong> <span class="correct-answer"></span>
    </div>
    <table class="table table-sm" id="decoding-table">
        {% for i,j  in task %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="card my-3">
    <div class="card-body">
        Task to solve: <span class="question">{{ question }}</span>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-row align-items-center">
                <div class="input-group mb-3">
                    <input type="text" id="answer" class="form-control" required name="answer"

                    >
                    <div class="input-group-append">
                        <button class="answer btn btn-success" type="button">Answer</button>
                    </div>
                </div>
            </div>
            <div>Number of correct tasks: <span class="num_correct">{{ player.num_correct }}</span></div>
            <div>Number of incorrect tasks: <span class="num_incorrect">{{ player.num_incorrect }}</span></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'includes/work_channel.html' %}
{% endblock %}

{% block styles %}


{% endblock %}


